.assurance {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.assurance:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Augmente l'ombre au survol */
}

.player-list {
margin: 20px auto;
max-width: 400px;
text-align: left;
}
.player {
padding: 10px;
margin: 5px 0;
border: 1px solid #ccc;
border-radius: 5px;
}
.hacker {
background-color: #ffcccc;
color: red;
}
.defender {
background-color: #cce5ff;
color: blue;
}

table {
    width: 50%;
    border-collapse: collapse; /* Fusionne les bordures pour éviter les doubles lignes */
    margin: 20px auto;
}
th, td {
    border: 2px solid black; /* Bordures autour des cellules */
    padding: 8px;
    text-align: center;
}

.separation-border {
    border-bottom: 2px solid #ccc; /* Ligne grise */
    margin: 10px 0 10px 0; /* Espacement autour de la bordure */
}

#assignedRolesList {
    border-radius: 10px; /* Coins arrondis */
    padding: 15px; /* Espacement interne */
    background-color: #f9f9f9; /* Fond gris clair */
    color: #333; /* Couleur du texte */
    font-size: 1.2em; /* Taille du texte légèrement augmentée */
    margin-top: 10px; /* Espacement supérieur */
    max-height: 300px; /* Hauteur maximale */
    overflow-y: auto; /* Barre de défilement si nécessaire */
}

/* Optionnel : styliser chaque rôle */
#assignedRolesList div {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd; /* Ligne entre les éléments */
}

/* Supprimer la bordure pour le dernier élément */
#assignedRolesList div:last-child {
    border-bottom: none;
}

